/* Load custom fonts*/
@font-face {
    font-family: 'dpcomic';
    src: url('../assets/fonts/dpcomic.regular.ttf');
}

/* Div Styles */
div:not(.inputDiv) {
    background-color: #44444433;
    border-radius: 0.6em;
    border-color: black;
    border-width: 0.3em;
    border-style: solid;
    margin-bottom: 1em;
}

.inputDiv {
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 1em;
}

/* Text Styles */
h1  {
    font-family: 'dpcomic';
    font-size: 3em;
    text-align: center;
    color: white;
    -webkit-text-stroke: black 0.01em;
}

h2 {
    font-family: 'dpcomic';
    font-size: 2em;
    margin-top: 2%;
    margin-left: 2%;
    text-decoration: underline #444444;
    color: white;
    -webkit-text-stroke: black 0.01em;
}

label {
    font-family: 'dpcomic';
    font-size: 1.2em;
}



/* Input Styles */
input[type=range] {
    display: block;
    width: 50%;
}